.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.searchTerm {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.searchButton {
  width: 20%;
  padding: 10px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}